$primary-color: #adadaf;
$primary-font:"Hind", sans-serif;
$secondaryFont:'Oxygen', sans-serif;
%liststyle  {margin: 0px;padding: 0px; list-style: none;}
%shadow-btm{ -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);}
%shadowbtm2{
 -webkit-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
-moz-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);

}
%placeholder{color: #858585; font-weight: 400; font-size: 12.7px;}
$clear :both;
$linkcolor:#fff;
@mixin border-box(){
    -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
}
@font-face {
    font-family: 'Timeless-Bold';
    src: url('../fonts/Timeless-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Timeless-Bold.woff') format('woff'), url('../fonts/Timeless-Bold.ttf')  format('truetype'), url('../fonts/Timeless-Bold.svg#Timeless-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
*,:before,:after{box-sizing:border-box}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family: $primary-font;font-size:1.3em;color:$primary-color;line-height:1.5}
.floatnone{float: none;}
.floatright{float: right}
.floatleft{float:left}
.center-block{margin: 0px auto !important; display: block;}
.clear{clear: $clear;}
.header{
 width: 100%;
 min-height:96px;position: relative; background: #1c85e8;
 @include border-box();
  figure{
      margin: 0px;padding: 0px;
  }
  &__logo{ padding:0px 0 0px;}
}

.mainmenu{min-height: inherit; display:block;padding:36px 0 5px;}
.navbar{ float: left;display: block;min-height: 25px;
&__menu{  @extend %liststyle;}
&__menu--item{float: left; display: inline-block; line-height: 25px; font-family:$secondaryFont;}
&__menu--item > a{ padding:10px 28px 10px 0; color: $linkcolor; font-size: 12px;text-transform:capitalize;font-weight:300;font-family:$secondaryFont;
}
}

.head-right{padding:35px 0 05px; height: inherit;position: relative;}
.head-cnt{
    @extend %liststyle;
li{float: left;display: inline-block;position: relative; }
li:first-child{ }
    &__requestoffer a{
        display: block; background: #fff; color: #1c85e8; text-align: center; width:127px; height: 30px;
        text-transform: uppercase; font-size: 13px;line-height: 29px;border-radius: 5px; font-weight: 500;
    }
}

.footer{min-height:285px; height: auto; width: 100%; display: block;
    &__top{
     background: #f7f7f7;    width: 100%; padding: 30px 0; margin: 20px 0 36px;
    }
    &__top--text{color: #858585; margin: 0px; line-height: 1.7; font-size:14.8px;}
    &__top--text p{margin-bottom: 0px;}
    &__bottom{ background: #f7f7f7; width: 100%; min-height: 50px; line-height: 49px;  }
    &__copyright{color: #131313; font-size: 14.5px;}
    &-middle{min-height: 513px; position: relative; display: inline-block; width: 100%;
    &__box{margin-bottom:15px;
        & figure{margin-bottom:0px;}
        & img{width: 100%; margin: 0px auto;}
        & p{font-family: 'Quicksand', sans-serif; font-size: 18px; font-weight: 400; font-style: italic; color: #131313; text-align: center; padding: 5px 15px; } 
        & span{font-size: 16px; display: block; color: #ff6b2a;  text-align: center; }
    }
    }
}

.main__banner{
    width:100%; min-height: 584px; height: auto; margin:0 0 0px; position: relative; display: inline-block;
    background: url(../images/bannerImg.png) no-repeat center; background-size: cover;
    &__img{margin-bottom: 0px;    padding-bottom:0rem;
    img{margin: 0px;}
    }
    &__caption{width: 100%; height:360px; top:30%; position: absolute; left: 0px; right: 0px; bottom: 0px;}
}
/*****requestoffer*********/
.requestoffer{width: 690px; height:358px; padding:20px 55px; display: block; position: relative; background: rgba(28,133,232,0.8); right:0px;float: right; font-family: $secondaryFont;
    &__heading1{
        color: #fff; font-weight: 600; font-size: 46px; text-transform: capitalize;margin:0px 0 18px; font-family: $secondaryFont;
    }
    
    &__tagline{
        color: #fff; font-weight:400; font-size: 30px; text-transform: uppercase;margin: 0px 0 10px; display: block;
    }
    &__tagline2{ color: #fff; font-size:20px; font-weight:300; margin:0px 0 10px; text-shadow: 0.5px 0.5px 0px #a1a1a1; font-family: $secondaryFont; }
    &__form{
        width:100%;display: inline-flex;

        &--input, & input[type="text"]{width: 65%; height: 40px; background:rgba(11,71,127,0.5); font-size: 15px; outline: none; border: none;
            display: block; margin: 0 5px 10px 0; border-radius:4px; text-align: left;
        }
        &--input::placeholder, & input[type="text"]::placeholder{text-align: center;color: #fff;font-size: 16px}
    }

    &__form--inputbtn{background: #0b477f ; color: #fff; text-transform: uppercase; height:40px;width: 30%;font-weight:600; margin-left: 5px; font-family: $secondaryFont;
        float: right; font-size: 18px; border: none; text-align: center;padding: 0px;border-radius:4px;   -webkit-box-shadow: 0px 4px 5px -2px rgba(43,62,80,1);
        -moz-box-shadow: 0px 4px 5px -2px rgba(43,62,80,1);
        box-shadow: 0px 4px 5px -2px rgba(43,62,80,1);
    
    }
    &__form--inputbtn:hover,&__form--inputbtn:focus{color:#fff;}
}

.brandlogo{ min-height: 120px;height:auto; padding:20px 0; display: inline-block; width: 100%; background: #0b477f;top: -7px; position: relative;
    &__list{
        @extend %liststyle;
    }
    &__listitem{float: left; display: inline-block;
      figure{margin:13px 0;padding:0px; }
    }
}
.brandlogo__list{

    &--padd{
padding: 0 5px;
    }
    &item{float: left; display: inline-block;margin: 0px;}
    &item a{color: #adadaf; font-size: 15px; padding:3px 15px; text-transform: uppercase; font-weight: 500;}
}
.secondwrapper {
    width: 100%;
    min-height: 800px;
    padding: 40px 0 20px;
    position: relative;
    margin-bottom: 0px;
    font-family: $secondaryFont;
    position: relative;
    display: block;
    & .secondwrapbox{

    &_lists {
        margin: 0px;
        padding: 0px;
        list-style: none;
        &__item {
            color: #131313;
            font-size: 20px;padding-left: 175px; min-height: 140px; display: block;margin: 60px 0;
            h5 { font-size: 30px; color: #1c85e8;  margin: 0 0 10px; font-weight: 700;letter-spacing: 0.3px;  }
        }
        &--item1 {
            background: url(../images/icons_03.png)no-repeat left center;
        }
        &--item2 {background: url(../images/icons_07.png)no-repeat; background-position: 20px 0px;
        }
        &--item3 {background: url(../images/icons_10.png)no-repeat; background-position: 20px 0px;
        }
    }
}
}

.propertyform{ margin: 0px auto; display: block; padding: 15px 0;
    &__heading{background: #1c85e8; padding:12px 20px; color: #fff;}
    &__heading--first{
        font-size: 30px; font-weight: 600; margin: 0 0 2px 0;
    }
    &__heading--second{
        font-size: 22px; font-weight: 400;
    }
    &__wrap{@extend %shadowbtm2; padding:40px 44px 10px; background: #fff;}
    
    &__field-wrapper{margin-bottom: 10px;width: 100%; display: block;}
    &__field-wrapper label{font-weight:400; color: #131313;text-shadow: 0.2px 0.2px;}
    &__field-wrapper input[type="number"],&__field-wrapper input[type="text"],&__field-wrapper input[type="email"],&__field-wrapper input[type="tel"],&__fields{border:none; border-radius: 0px; background: #e7e7e7;}
    &__field-wrapper input[type="number"]::placeholder,&__field-wrapper input[type="text"]::placeholder,&__field-wrapper input[type="email"]::placeholder,&__field-wrapper input[type="tel"]::placeholder{
        @extend %placeholder;
    }
    &__fields--btn{width: 100%;text-transform: uppercase; font-weight: 600;height: 40px;background: #0b477f; color: #fff;font-size: 18px; padding: 0px; text-align: center;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
-moz-box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
    }
    &__fields--btn:hover{color: #fff;}
    &__wrap--btm{width: 100%; min-height: 50px; position: relative; line-height: 29px; padding:20px 0 15px;}
    &__wrap--btm span{font-size: 28px;  display: block;color: #131313;font-weight:400;}
    &__wrap--btm a{color: #1c85e8; font-size: 24.2px;font-weight: 600;}
}


.third_wrap {
    width: 100%;
    min-height: 675x;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    &__left {
        height: inherit;
        min-height: 604px;
        background-size: cover;
        position: relative;    margin-bottom: 20px;
        &--text {
            display: block;
            position: absolute;
            min-height: 235px;
            padding: 33px 0px 30px 0px;
            color: #fff;
            width: 585px;
            z-index: 1;
            margin: 0% 0 0 0;
            right: 0px;
            top: 50%;

            &content {
                font-size: 2.2rem;
                line-height: 1.5;padding: 10px 0 0 0;
                display: block; color: #131313;   float: right;width: 60%;
            }
        }
        &--heading {
            font-size: 36px;
            padding: 18px 30px;
            margin: 0px;
            font-weight: 700;
            line-height: 1.0;
            text-transform: uppercase;
            color: #fff;
            background: rgba(67, 166, 245, 0.8);
            & span {
                font-size: 49px;
            }
        }
        & figure {
            margin: 0 0 5px 0;
            img {
                margin: 0px;
            }
        }
    }
    &__right {
        display: block;
        height: inherit;
        min-height: 604px;
        position: relative;
        padding: 15px 0;

        &--text {
            display: block;  position: absolute;
            float: left; margin-top: 0%;
            padding: 0px 8px 0px 5px; top:50%;
            color: #fff;
            z-index: 1;
            &content {
                font-size:2.2rem;
                line-height: 1.5;
                padding: 10px 0 0 0;
                display: block;
                color: #131313; width: 65.3%;
            }
        }
        &--heading {
            font-size: 36px;
            padding: 18px 30px;
            margin: 0px;
            font-weight: 700;
            line-height: 1.0;
            text-transform: uppercase;
            color: #fff;
            background: rgba(11, 71, 127, 0.8);
            & span {
                font-size: 49px;
            }
        }
        &--img {
            float: right;
        }
    }
    /*********fouth_wrap_boxes********/
    .fouth_wrap_boxes {
        background: url('../images/fourth_wrap_bckgrnd.png') no-repeat;
        background-size: cover;
        min-height: 700px;
        position: relative;
        width: 100%;
        display: inline-block;
        padding: 150px 0;
        &__box1 {
            background: #fff;
            margin-bottom: 10px;
            center {
                padding: 75px 50px;
                display: block;
                & h4 {
                    color: #085c5f;
                    font-size: 30px;
                    font-weight: 600;
                }
                & p {
                    font-size: 20px;
                    color: #131313;
                }
            }
        }
        &__box3 {
            background: #fff;
            margin-bottom: 10px;
            center {
                padding: 75px 50px;
                display: block;
                & h4 {
                    color: #085c5f;
                    font-size: 30px;
                    font-weight: 600;
                }
                & p {
                    font-size: 20px;
                    color: #131313;
                }
            }
        }
        &_heading {
            background: #085c5f;
            padding: 15px 25px;
            color: #fff;
            h4 {
                font-weight: 500;
                font-size: 30px;
            }
            p {
                font-size: 18px;
            }
        }
        &--text {
            background: #fff;
            padding: 12px 17px;
            color: #131313;
            font-size: 16px;
            text-align: justify;
            -webkit-box-shadow: inset 0px 1px 14px 2px rgba(220, 220, 220, 1);
            -moz-box-shadow: inset 0px 1px 14px 2px rgba(220, 220, 220, 1);
            box-shadow: inset 0px 1px 14px 2px rgba(220, 220, 220, 1);
        }
        &__box2 {
            margin-top: -95px;
            position: relative;
            margin-bottom: 10px;
        }
    }
}
    /****fouth_wrap****/
    .fourth_wrap {
        width: 100%;
        min-height:600px;
        margin:60px 0 60px;
        &__youtube {
            width: 100%;
            position: relative;
            min-height:400px;
            overflow: hidden;
            display: block;
            margin-bottom: 20px;
            &--item {
                width: 100%;
                height: 400px;
            }
            &--text {
                color: #131313;
                font-size: 22px;
                padding: 9px 0px;
                display: block;
                line-height: 19px;
                text-shadow: 0.1px 0.1px;
            }
        }
        &__heading {
            text-align: center;
            margin: 0 0 15px;
            position: relative;
            color: #ff6b2a;
            font-size: 36px;
            font-weight: 600
        }
        &__span {
            font-size: 28.5px;
            color: #89bb48;
            padding: 10px 5px;
            text-align: center;
            display: block;
            font-weight: 500;
            line-height: 36px;
        }
        &__content {
            color: #131313;
            padding:0px 0px;
            font-weight:600;
            line-height: 1.3; font-size: 15.3px; text-align: center;
            &_step{@extend %liststyle;} 
            &_steps{ display: block; min-height: 90px; margin-bottom: 40px;
             & h3{ color: #1c85e8; font-size: 24px; margin-bottom: 20px; font-weight:700;
            }
        }
        }
        &_boxes__heading{color: #131313;
        & h3{font-size: 36px; font-family: $secondaryFont;font-weight: 600; margin-bottom:80px;}
        }
        &__ytb-container{
            margin-left: 0px;
        }
    }

    /******slider_wrapper*****/
    .slider_wrapper{
        width: 100%; min-height: 600px; position: relative; display: inline-block;
        &_cont{
            &_wrap{

            }
            &_caption{background: #fff; margin: 0px auto; padding:25px 30px;
                position: absolute; bottom:-100px;left: 0px; z-index: 10;
                right: 0px; height: 220px;
                -webkit-box-shadow: 0px 5px 14px -1px rgba(230,229,229,1);
                -moz-box-shadow: 0px 5px 14px -1px rgba(230,229,229,1);
                box-shadow: 0px 5px 14px -1px rgba(230,229,229,1);

                &--text1{color: #0b477f;margin-bottom: 30px;font-family: 'Timeless-Bold'; font-size:23px; font-weight:700; line-height: 1.3; }
                &--text2{color: #666666; bottom: 0px; font-size: 14px;font-family: $secondaryFont;line-height: 1.7;}
            }
        }
        &__wrap{margin: 0px auto; display: block;float: none; margin-left: auto !important;}

        & .arrow-right{float: right; right: -80px;}
        & .arrow-left{float: left;left:-80px}
        & .arrow-right:hover, & .arrow-left:hover{background: transparent !important; cursor: pointer;}
    }
.sixth_wrapper{
    width: 100%; background:url(../images/banner2.png) no-repeat; background-size: cover; height: 402px;
    padding: 80px 0;
    &__content{margin:0px auto; display: block; font-family: $secondaryFont; color: #fff;
        & h3{font-weight: 600;font-size: 35px; position: relative; letter-spacing: 2px;     margin-bottom: 80px;}
        & h3:after{content: "";display: block; border-bottom: 1px solid #fff; height: 2px; width:199px;    bottom: -34px;
            position: relative;}
    }
}
    /* Screen < 1200px */
    @media (min-width: 100px) and (max-width: 768px) {
        .navbar {
            width: calc(100% - 20px);
        }
        .propertyform__fields--btn {
            font-size: 75%;
            padding: 0px 15px;
        }
        .main__banner {
            &__caption {
                top: 50px;
            }
        }
        .requestoffer {
            padding: 15px;
            width: 100%;
            height: auto;
            display: inline-block;
            float: none;
            &__form {
                width: 90%;
                display: block;
            }
            &__form--input, &__form input[type="text"] {
                width: 100%;
            }
            &__form--inputbtn {
                width: 100%;
            }

        }
        .secondwrapper {
            display: inline-block;
            width: 100%;
        }
        .propertyform {
            padding: 40px 15px;
        }
        .secondwrapbox {
        }
        .third_wrap {
            &__right--text {
                padding: 0px 15px;
                margin-top: 60%;
            }

            &__left--text {
                width: 95%;
                padding: 15px 15px;
                margin: 15% auto;
                display: block;
                float: none;
                left: 0px;
                right: 0px;
            }

            & h2 {
                text-shadow: 0.1px 0.1px 0.7px #eee;
            }
        }
        .fouth_wrap {
            padding: 15px 0;
            &__youtube--text {
                padding: 9px 0px;
            }
            &__content {
                padding: 15px 0px;
            }
        }
        .request-btn {
            width: 100%;
        }
        .city__list {
            &item {
                display: block;
                float: none;
                margin: 0 0 16px auto;
            }
        }
        .secondwrapbox__box1 {
            padding: 60px 20px;
        }
        .fouth_wrap_boxes {

            &__box2 {
                margin-top: 0px;
            }
        }
    }
